.weeklyprogress-container{
    /* width: 723;
height: 257;
gap: 12px; */
    border-radius: 16px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    background: #FFFFFF;
    text-align: center;

}

.weeklyprogress-main{
    display: flex;
    flex-direction: row;
}