.testimonies-container{
    background: #DDDECC;
    padding: 30px 95px 92px 95px;
    padding-left: 7%;
    padding-right: 7%;
}

.testimonies-container h3{
    font-size: 32px;
    font-weight: 600;
    color: #0B071E;
    margin-bottom: 16px;
    text-align: center;
}

.testimonies-container > p{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 69px;
    text-align: center;

}

.testimonies-map{
    /* display: flex;
    flex-direction: row; */
    column-gap: 16px;
    display: grid;
    grid-template-columns: 321px 321px 321px;
    /* grid-template-rows: 1fr; */
}

/* responsives */
@media (max-width:900px){
    .testimonies-map{
        grid-template-columns: 321px 321px;
        gap: 30px;
    }
}

@media (max-width:600px){
    .testimonies-map{
        grid-template-columns: 321px;
        align-items: center;
        justify-content: center;
    }
}