# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# src/components/Footer
# src/pages/LandingPage/components/CTA
# src/pages/LandingPage/components/HowItWorks
# src/pages/LandingPage/components/Testimonies

# src/pages/SignInPage
# src/pages/SignUpPage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
