.wrapper{
    display: flex;
    background-color:#4A83B9;
    color: white;
    padding: 20px;
    justify-content: space-between;
}
input{
    padding: 15px 33px;
    border-radius: 5px;
    border: none;

}
.item-1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-3{
    display: flex;
    align-items: center;
   
}
.select-item{
    border: none;
    background: none;
    outline: none;
}
.search-box{
    position:relative ;
}
.search-icon{
    position: absolute;
    top: 15px;
    left: 5px;
    color: black;
    margin-left: 4px;
}