.dashboardpage-container{
    /* background: #E1E8FB; */

    display: flex;
    /* display:grid; */
    /* height:100%; */
    grid-template-columns:0.5fr 5fr;
    /* grid-template-rows:1fr; */
    position: relative;
}