.howitworks-container{
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 69px;

}

.howitworks-content{
    display:flex;
    flex-direction:column;
    align-content:center;
    justify-content:center;
    padding-left: 29px;
}

.howitworks-content h2{
    color: #0B071E;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    font-size: 32px;
}

.howitworks-content p{
font-weight: 400;
font-size: 24px;
color: #4F4F4F;
}

.howitworks-content > p{
margin-top: 16px;
margin-bottom: 40px;

}

.howitworks-des{
    display:flex;
    flex-direction:row;
    column-gap: 24px;
}