.navigationcaption-container{
    color:#FFFFE3;
    width:640px;
    position:absolute;
    /* left:80px; */
    /* bottom:197px; */
    bottom:18%;
    left: 6%;
    z-index: 0;
}

.navigationcaption-container h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:24px;
}

.navigationcaption-container p{
    font-size:20px; 
    font-weight:600;
    margin-bottom:48px;
}

.navigationcaption-container div{
    display:flex;
    flex-direction:row;
    align-items:center;
    column-gap:24px;
}

/* responsiveness */
@media(max-width:700px){
    .navigationcaption-container{
        padding: 5%;
        width: auto;
        margin-top: 30%;
        z-index: 0;
        left: 0;

    }
}