.entrypage-container{
    display: grid;
    grid-template-columns: 0px 1fr;
    /* grid-template-columns: 1fr 5fr; */
    position: relative;
    transition: all 1s;
}

.entrypage-container-open{
    grid-template-columns: 340px 5fr;
    
}