.everything-container{
    /* padding: 100px 85px; */
    padding: 100px 6%;
    text-align: center;
    background: #EEF0F74F;

}

.everything-container h2{
    margin-bottom: 51px;
}

.everything-container div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

/* adding media queries */
@media (max-width:900px){
    .everything-container div{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:600px){
    .everything-container div{
        grid-template-columns: 1fr;
    }
}