.footer-container{
    background: #01143B;
    display: flex;
    flex-direction: row;
    color:#85A2DB;
    justify-content: space-around;
    padding-top: 141px;
    padding-bottom: 141px;
}

.footer-container h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-bottom: 24px;
}

.footer-container p{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 12px;
}

.footer-icon{
    display:flex;
    flex-direction:row;
    column-gap:6px;
    margin-bottom:12px;
}