.meditationcarditem-container{
    /* width: 414;
    height: 346;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    top: 760px;
    left: 80px; */
    border-radius: 16px;
    border-width: 1px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #6A6A6A66;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* align-items: center; */
    height: 346px;

}

.meditationcarditem-container h4{
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    text-align: center;
    color: #080D17;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.meditationcarditem-desc{
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-align: center;
    color: #4D4C4C;
    margin: 0px;
    padding: 0px;
}

.meditationcarditem-author{
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    text-align: center;
    color: #4D4C4C;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;

}

.meditationcarditem-time{
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    text-align: center;
    color: #4D4C4C;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    column-gap: 16px;

}

.meditationcarditem-time p{
    margin: 0px;
    padding: 0px;
}